<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'home' %}">List Of Recipes</a>
                <a href="{% url 'category_list' %}">List Of Categories</a>
                <a href="{% url 'account_list' %}">List of Accounts</a>
                <a href="{% url 'create_receipt' %}">Create an Receipt</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'create_account' %}">Create Account</a>
                <a href="{% url 'logout' %}">Log Out</a>
                {%else%}
                <a href="{%url 'signup'%}">Sign Up</a>
                <a href="{%url 'login'%}">Log In</a>
                {%endif%}
            </li>
        </nav>
    </header>
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {%for category in expense_categories%}
                <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.receipts.all|length}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
</body>

</html>
