<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                {%else%}
                <a href="{%url 'signup'%}">Sign Up</a>
                <a href="{%url 'login'%}">Log In</a>
                {%endif%}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Singup</h1>
            <form method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>

</html>
