<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'home' %}">List Of Recipes</a>
                <a href="{% url 'category_list' %}">List Of Categories</a>
                <a href="{% url 'account_list' %}">List of Accounts</a>
                <a href="{% url 'create_receipt' %}">Create an Receipt</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'create_account' %}">Create Account</a>
                <a href="{% url 'logout' %}">Log Out</a>
                {%else%}
                <a href="{%url 'signup'%}">Sign Up</a>
                <a href="{%url 'login'%}">Log In</a>
                {%endif%}
            </li>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>
